<div class="row mt-3" [class.mandatory]="variable.mandatory" [class.advanced]="variable.advanced"
       [class.default]="variable.isDefault">
       <label class="col-form-label col-form-label-sm col-md-3" [class.is-required]="variable.mandatory" [for]="id">{{
              variable.name }}</label>
       <div class="col-md-9">
              <div [ngClass]="{'input-group-sm input-group': isText || isSelect, 'form-check': isCheckbox}">
                     <div *ngIf="hasPresets" ngbDropdown class="d-inline-block">
                            <button ngbDropdownToggle class="btn btn-outline-secondary" type="button"
                                   aria-haspopup="true" aria-expanded="false" title="Select a preset value">
                                   <span class="fas fa-lightbulb"></span>
                            </button>
                            <div ngbDropdownMenu class="dropdown-menu">
                                   <button *ngFor="let preset of presets" ngbDropdownItem href="javascript:null" (click)="aggregated.applyPreset(preset)"
                                          [title]="preset.description">{{ preset.name }}</button>
                            </div>
                     </div>

                     <!-- enum type: select -->
                     <select *ngIf="isSelect" class="form-select" [required]="variable.mandatory"
                            [(ngModel)]="variable.value">
                            <option *ngFor="let val of variable.values" [value]="val" [selected]="variable.value === val">{{ val }}</option>
                     </select>

                     <!-- boolean type: checkbox -->
                   
                     <input *ngIf="isCheckbox" type="checkbox" class="form-check-input"
                            [required]="variable.mandatory" [(ngModel)]="variable.value" [attr.aria-label]="variable.description">

                     <!-- all other: input with type -->
                     <input *ngIf="isText" class="form-control" [id]="id" [(ngModel)]="variable.value" [type]="variable.type"
                                   [required]="variable.mandatory">

                     <!-- reset button (except for checkbox) -->
                     <div *ngIf="hasResetExt">
                            <button class="btn btn-outline-secondary" type="button" placement="top" ngbTooltip="Reset to default" (click)="variable.reset()" title="Reset to default">
                                   <span class="fas fa-sync-alt"></span>
                            </button>
                     </div>
              </div>
       </div>

       <!-- variable description -->
       <small class="form-text text-muted offset-md-3 col-md-9 mb-2">
              <markdown [data]="variable.description"></markdown>
       </small>
</div>