.form-text p {
  font-style: normal;
}
/* variable form with default value is greyed 
.form-group.default input, .form-group.default .btn-outline-secondary {
  border-color: #595959;
  color: #595959;
}*/
/* reset button for variable form with default value is greyed
.form-group.default .btn-outline-secondary:hover, .form-group.default .btn-outline-secondary:focus {
  background-color: #595959;
  color: white;
}*/
/*!* advanced variable form is hidden by default... *!*/
/*.form-group.advanced {*/
  /*display: none;*/
/*}*/
/*!* ... unless show-advanced class is set on body *!*/
/*body.show-advanced .form-group.advanced {*/
  /*display: flex;*/
/*}*/

input:invalid {
  border-color: #cd3c14 !important;
}
.form-group.advanced>.col-form-label::after {
  content: "ADV.";
  color: #ea7070;
  font-weight: normal;
  position: relative;
  top: -0.5em;
  margin-left: .3em;
  font-size: 70%;
}