<!--HEADER START-->
<header data-bs-theme="dark">
  <nav class="navbar navbar-expand-lg" aria-label="Main navigation">
    <div class="container">
      <!-- tbc logo -->
      <div class="navbar-brand me-auto me-lg-4">
        <a class="stretched-link" title="Home" href="/doc">
          <img src="./assets/img/tbc-50.png" alt="TBC Logo">
        </a>
        <h1 class="title">to be continuous</h1>
      </div>
      <button type="button" class="navbar-toggler" [attr.aria-expanded]="!isMenuCollapsed" (click)="isMenuCollapsed = !isMenuCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ms-auto" [ngbCollapse]="isMenuCollapsed" >
        <ul class="navbar-nav">
          <li class="nav-item ms-0">
            <a class="nav-link" href="/doc/intro" title="Documentation portal">Docs</a>
          </li>
          <li class="nav-item">
            <span class="nav-link active" title="Template initializer tool"><span
              class="fa fa-wrench pe-1"></span> Kicker</span></li>
          <li class="nav-item">
            <a class="nav-link"
               href="https://gitlab.com/to-be-continuous/samples"
               title="Project samples using templates"><span class="fab fa-gitlab pe-1"></span> Examples</a></li>
          <li class="nav-item">
            <a class="nav-link"
               [href]="tbcUrl"
               title="Templates code and documentation"><span class="fab fa-gitlab pe-1"></span> GitLab</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!--HEADER END-->

<main class="container">
  <app-kicker></app-kicker>
</main>

<footer class="footer navbar-dark bg-dark mt-4 py-2">
  <div class="container">
    <!-- <span class="text-muted">© copyright here</span> -->
  </div>
</footer>
