<nav id="stepbar" class="stepped-process" aria-label="Checkout process">
  <ol>
    <li class="stepped-process-item next">
      <a class="stepped-process-link" href="#build-section" title="Step 1: Configure your build system">
        Build
      </a>
    </li>
    <li class="stepped-process-item next">
      <a class="stepped-process-link" href="#analyse-section" title="Step 2: Configure your code analysis tools" aria-current="step">
        Analysis
      </a>
    </li>
    <li class="stepped-process-item next">
      <a class="stepped-process-link" href="#package-section" title="Step 3: Configure your packaging tools" aria-current="step">
        Packaging
      </a>
    </li>
    <li class="stepped-process-item next">
      <a class="stepped-process-link" href="#infra-section" title="Step 4: Configure your infra-as-code technology" aria-current="step">
        Infrastructure
      </a>
    </li>
    <li class="stepped-process-item next">
      <a class="stepped-process-link" href="#hosting-section" title="Step 5: Configure your hosting environment" aria-current="step">
        Deployment
      </a>
    </li>
    <li class="stepped-process-item next">
      <a class="stepped-process-link" href="#acceptance-section" title="Step 6: Configure your acceptance tools">
        Acceptance
      </a>
    </li>
    <li class="stepped-process-item next">
      <a class="stepped-process-link" href="#others-section" title="Step 7: Configure other templates">
        Others
      </a>
    </li>
    <li class="stepped-process-item next">
      <a class="stepped-process-link" href="#gitlab-ci-section" title="Step 8: Obtain your GitLab CI file">
        GitLab CI file
      </a>
    </li>
  </ol>
</nav>
