<div class="d-sm-flex align-items-center flex-row p-2">
  <!-- Configuration (simple/advanced) -->
  <div class="btn-group btn-group-sm" role="group">
    <input 
      type="radio" 
      class="btn-check" 
      name="options" 
      id="basic" 
      autocomplete="off"
      [(ngModel)]="options.showAdvanced"
      [value]="false"
      [checked]="options.showAdvanced === false">
    <label class="btn btn-toggle" for="basic">basic</label>
  
    <input 
      type="radio"
      class="btn-check"
      name="options"
      id="advanced"
      autocomplete="off"
      [(ngModel)]="options.showAdvanced"
      [value]="true"
      [checked]="options.showAdvanced === true">
    <label class="btn btn-toggle" for="advanced">advanced</label>
  
  </div>
  <!-- Extensions -->
  <fieldset class="ms-auto hstack gap-2 mt-2 mt-sm-0" *ngIf="extensions && extensions.length > 0">
    <label class="col-form-label col-form-label-sm font-weight-bold">
      Extensions
    </label>
    <div
      class="form-check ms-2 mr-0 mb-0"
      *ngFor="let ext of extensions"
    >
      <input
        type="checkbox"
        class="form-check-input"
        [id]="'ext-' + ext.id"
        [checked]="options.hasExtension(ext.id)"
        (change)="options.setExtension(ext.id, $event.target.checked)"
      />
      <label
        class="form-check-label"
        [for]="'ext-' + ext.id"
        >{{ ext.name }} <i class="fas fa-circle-info" [ngbTooltip]="ext.description"></i></label
      >
    </div>
  </fieldset>
</div>
