<div
  class="gitlab-ci-toolbar d-md-flex align-items-center flex-row p-2 bg-body-secondary"
>
  <!-- Include Mode (local/remote/template) -->
  <div>
    <label class="col-form-label col-form-label-sm"
      >Include
      <i
        class="fas fa-circle-info"
        ngbTooltip="Select the template include method you want to use."
      ></i
    ></label>
    <div class="btn-group btn-group-sm ms-1" data-toggle="buttons">
      <input
        type="radio"
        class="btn-check"
        name="include-mode"
        id="include-mode-project"
        autocomplete="off"
        [(ngModel)]="options.includeMode"
        value="project"
        [checked]="options.includeMode === includeModes.project"
      />
      <label class="btn btn-toggle" for="include-mode-project">project</label>
      <input
        type="radio"
        class="btn-check"
        name="include-mode"
        id="include-mode-component"
        autocomplete="off"
        [(ngModel)]="options.includeMode"
        value="component"
        [checked]="options.includeMode === includeModes.component"
      />
      <label class="btn btn-toggle" for="include-mode-component"
        >component</label
      >
      <input
        type="radio"
        class="btn-check"
        name="include-mode"
        id="include-mode-remote"
        autocomplete="off"
        [(ngModel)]="options.includeMode"
        value="remote"
        [checked]="options.includeMode === includeModes.remote"
      />
      <label class="btn btn-toggle" for="include-mode-remote">remote</label>
    </div>
  </div>
  <!-- Version Mode (major/minor/patch) -->
  <div class="ms-md-4 mt-2 mt-md-0">
    <label class="col-form-label col-form-label-sm"
      >Version
      <i
        class="fas fa-circle-info"
        ngbTooltip="Select the template version pattern you want to include."
      ></i
    ></label>
    <div class="btn-group btn-group-sm rounded ms-1" data-toggle="buttons">
      <input
        type="radio"
        class="btn-check"
        name="version-mode"
        id="version-mode-major"
        autocomplete="off"
        [(ngModel)]="options.versionMode"
        value="major"
        [checked]="options.versionMode === versionModes.major"
      />
      <label class="btn btn-toggle" for="version-mode-major">major</label>

      <input
        type="radio"
        class="btn-check"
        name="version-mode"
        id="version-mode-minor"
        autocomplete="off"
        [(ngModel)]="options.versionMode"
        value="minor"
        [checked]="options.versionMode === versionModes.minor"
      />
      <label class="btn btn-toggle" for="version-mode-minor">minor</label>

      <input
        type="radio"
        class="btn-check"
        name="version-mode"
        id="version-mode-full"
        autocomplete="off"
        [(ngModel)]="options.versionMode"
        value="full"
        [checked]="options.versionMode === versionModes.full"
      />
      <label class="btn btn-toggle" for="version-mode-full">full</label>
    </div>
  </div>
  <!-- Show Stages -->
  <div class="form-check ms-md-4 mt-2 mt-md-0 mb-0">
    <input
      type="checkbox"
      class="form-check-input"
      id="stages-control"
      [(ngModel)]="options.showStages"
    />
    <label class="form-check-label" for="stages-control"
      >With stages
      <i
        class="fas fa-circle-info"
        ngbTooltip="Required if you wish to override default stages."
      ></i
    ></label>
  </div>
  <!-- Gitlab server FQDN -->
  <div *ngIf="options.includeMode == includeModes.remote" class="input-group input-group-sm ms-4">
    <label class="input-group-text" for="gitlab-host"
      >GitLab Host
      <i
        class="fas fa-circle-info ms-1"
        ngbTooltip="Set the GitLab server host (FQDN) you want to use."
      ></i
    ></label>
    <input
      type="text"
      class="form-control"
      id="gitlab-host"
      aria-label="GitlabHost"
      [(ngModel)]="serverHost"
    />
  </div>
</div>
<div class="gitlab-ci-container">
  <button
    class="btn-clipboard btn btn-sm btn-secondary"
    data-bs-theme="dark"
    placement="top"
    ngbTooltip="Copy to clipboard"
    id="copy-yaml-to-clipboard"
    (click)="copyToClipboard()"
  >
    Copy
  </button>
  <code id="gitlab-ci-content">
    <div id="gitlab-ci-includes" [class.hide]="!hasIncludes()">
      <pre class="comment"># included templates</pre>
      <span class="key">include</span>:
      <div class="elements"></div>
      <div
        *ngFor="let template of templates"
        [ngSwitch]="options.includeMode"
        [class.hide]="!template.enabled"
      >
        <pre class="comment">  # {{ template.name }} template</pre>
        <div *ngSwitchCase="includeModes.project">
          <pre>  - <span class="key">project</span>: "<span class="value">{{ template.project.path }}</span>"</pre>
          <pre>    <span class="key">ref</span>: "<span class="value">{{ template.project.getLatestVersion(options.versionMode) }}</span>"</pre>
          <pre>    <span class="key">file</span>: "<span class="value">{{ template.template_path }}</span>"</pre>
          <div
            *ngFor="let variant of template.variants"
            [class.hide]="!variant.enabled"
          >
            <pre class="comment">
  # {{ template.name }} template ({{ variant.name }} variant)</pre
            >
            <pre>  - <span class="key">project</span>: "<span class="value">{{ variant.project.path }}</span>"</pre>
            <pre>    <span class="key">ref</span>: "<span class="value">{{ variant.project.getLatestVersion(options.versionMode) }}</span>"</pre>
            <pre>    <span class="key">file</span>: "<span class="value">{{ variant.template_path }}</span>"</pre>
          </div>
        </div>
        <div *ngSwitchCase="includeModes.remote">
          <pre>  - <span class="key">remote</span>: "<span class="value">https://{{ serverHost }}/{{ template.project.path }}/-/raw/{{ template.project.getLatestVersion(options.versionMode) }}/{{ template.template_path }}</span>"</pre>
          <div
            *ngFor="let variant of template.variants"
            [class.hide]="!variant.enabled"
          >
            <pre class="comment">
  # {{ template.name }} template ({{ variant.name }} variant)</pre
            >
            <pre>  - <span class="key">remote</span>: "<span class="value">https://{{ serverHost }}/{{ variant.project.path }}/-/raw/{{ variant.project.getLatestVersion(options.versionMode) }}/{{ variant.template_path }}</span>"</pre>
          </div>
        </div>
        <div *ngSwitchCase="includeModes.component">
          <pre>  - <span class="key">component</span>: "<span class="value">$CI_SERVER_FQDN/{{ template.project.path }}/{{ template.templateFile }}&#64;{{ template.project.getLatestVersion(options.versionMode) }}</span>"</pre>
          <div [class.hide]="!hasInputs(template)">
            <pre>    <span class="key">inputs</span>:</pre>
            <div class="elements">
              <!-- template variables -->
              <pre
                *ngFor="let variable of template.nonSecrets"
                [class.hide]="variable.isDefault"
              >      <span class="key">{{ template.getInputName(variable.name) }}</span>: <span class="value">{{ variable.inputValue }}</span></pre>
              <!-- feature variables -->
              <div *ngFor="let feature of template.features">
                <!-- disable variable -->
                <pre
                  *ngIf="feature.disable_with"
                  [class.hide]="feature.enabled"
                >      <span class="key">{{ template.getInputName(feature.disable_with) }}</span>: <span class="value">true</span></pre>
                <div [class.hide]="!feature.enabled">
                  <!-- enable variable -->
                  <pre
                    *ngIf="feature.enable_with"
                  >      <span class="key">{{ template.getInputName(feature.enable_with) }}</span>: <span class="value">true</span></pre>
                  <pre
                    *ngFor="let variable of feature.nonSecrets"
                    [class.hide]="variable.isDefault"
                  >      <span class="key">{{ template.getInputName(variable.name) }}</span>: <span class="value">{{ variable.inputValue }}</span></pre>
                </div>
              </div>
            </div>
          </div>
          <div
            *ngFor="let variant of template.variants"
            [class.hide]="!variant.enabled"
          >
            <pre class="comment">
  # {{ template.name }} template ({{ variant.name }} variant)</pre
            >
            <pre>  - <span class="key">component</span>: "<span class="value">$CI_SERVER_FQDN/{{ variant.project.path }}/{{ variant.templateFile }}&#64;{{ variant.project.getLatestVersion(options.versionMode) }}</span>"</pre>
            <div [class.hide]="!hasInputs(variant)">
              <pre>    <span class="key">inputs</span>:</pre>
              <div class="elements">
                <!-- variant variables -->
                <pre
                  *ngFor="let variable of variant.nonSecrets"
                  [class.hide]="variable.isDefault"
                >      <span class="key">{{ template.getInputName(variable.name) }}</span>: <span class="value">{{ variable.inputValue }}</span></pre>
                <!-- feature variables -->
                <div *ngFor="let feature of variant.features">
                  <!-- disable variable -->
                  <pre
                    *ngIf="feature.disable_with"
                    [class.hide]="feature.enabled"
                  >      <span class="key">{{ template.getInputName(feature.disable_with) }}</span>: <span class="value">true</span></pre>
                  <div [class.hide]="!feature.enabled">
                    <!-- enable variable -->
                    <pre
                      *ngIf="feature.enable_with"
                    >      <span class="key">{{ template.getInputName(feature.enable_with) }}</span>: <span class="value">true</span></pre>
                    <pre
                      *ngFor="let variable of feature.nonSecrets"
                      [class.hide]="variable.isDefault"
                    >      <span class="key">{{ template.getInputName(variable.name) }}</span>: <span class="value">{{ variable.inputValue }}</span></pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
    <div id="gitlab-ci-secrets" [class.hide]="!hasSecrets()">
      <pre class="comment"># secret variables</pre>
      <pre class="comment">
# (define the variables below in your GitLab group/project variables)</pre
      >
      <div class="elements">
        <div
          *ngFor="let template of templates"
          [class.hide]="!template.enabled"
        >
          <!-- template secrets -->
          <pre *ngFor="let secret of template.secrets" class="comment">
# {{ secret.name }}: {{ secret.description }}</pre
          >
          <!-- feature secrets -->
          <div
            *ngFor="let feature of template.features"
            [class.hide]="!feature.enabled"
          >
            <pre *ngFor="let secret of feature.secrets" class="comment">
# {{ secret.name }}: {{ secret.description }}</pre
            >
          </div>
        </div>
      </div>
      <br />
    </div>
    <div id="gitlab-ci-variables" [class.hide]="!hasVariables()">
      <pre class="comment"># variables</pre>
      <span class="key">variables</span>:
      <div class="elements">
        <div
          *ngFor="let template of templates"
          [class.hide]="!template.enabled"
        >
          <!-- template variables -->
          <pre
            *ngFor="let variable of template.nonSecrets"
            [class.hide]="variable.isDefault"
          >  <span class="key">{{ variable.name }}</span>: "<span class="value">{{ variable.value }}</span>"</pre>
          <!-- feature variables -->
          <div *ngFor="let feature of template.features">
            <!-- disable variable -->
            <pre
              *ngIf="feature.disable_with"
              [class.hide]="feature.enabled"
            >  <span class="key">{{ feature.disable_with }}</span>: "<span class="value">true</span>"</pre>
            <div [class.hide]="!feature.enabled">
              <!-- enable variable -->
              <pre
                *ngIf="feature.enable_with"
              >  <span class="key">{{ feature.enable_with }}</span>: "<span class="value">true</span>"</pre>
              <pre
                *ngFor="let variable of feature.nonSecrets"
                [class.hide]="variable.isDefault"
              >  <span class="key">{{ variable.name }}</span>: "<span class="value">{{ variable.value }}</span>"</pre>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
    <div id="gitlab-ci-stages" *ngIf="options.showStages">
      <pre class="comment"># your pipeline stages</pre>
      <span class="key">stages</span>:
      <div class="elements">
        <pre>  - build</pre>
        <pre>  - test</pre>
        <pre>  - package-build</pre>
        <pre>  - package-test</pre>
        <pre>  - infra</pre>
        <pre>  - deploy</pre>
        <pre>  - acceptance</pre>
        <pre>  - publish</pre>
        <pre>  - infra-prod</pre>
        <pre>  - production</pre>
      </div>
    </div>
  </code>
</div>
