<div class="w-100 bg-body-secondary p-2 mt-3">
  This tool helps you generate the <code>.gitlab-ci.yml</code> file for your project.
</div>

<!-- sticky: stepbar + options box -->
<div id="toolbox" class="sticky-top my-3">
  <app-stepbar class="mb-4"></app-stepbar>
  <app-options-form [extensions]="aggregated?.extensions" [options]="options"></app-options-form>
</div>

<h2>#1: Specify your project</h2>

<app-templates-section
  id="build"
  sectionTitle="1. Build (language)"
  [aggregated]="aggregated"
  [templates]="templatesOfKind('build', true)"
  [multiple]="false"
  [options]="options">
  <div>
    <strong>No build system selected.</strong><br/>
    Keep this if your project doesn't need to be built/tested/analysed or if your build system is not supported.<br/>
    Otherwise, please select your build system in the above list.
  </div>
</app-templates-section>


<app-templates-section
  id="analyse"
  sectionTitle="2. Code analysis"
  [aggregated]="aggregated"
  [templates]="templatesOfKind('analyse')"
  [multiple]="true"
  [options]="options"></app-templates-section>

<app-templates-section
  id="package"
  sectionTitle="3. Packaging"
  [aggregated]="aggregated"
  [templates]="templatesOfKind('package', true)"
  [multiple]="false"
  [options]="options"></app-templates-section>

<app-templates-section
  id="infra"
  sectionTitle="4. Infrastructure"
  [aggregated]="aggregated"
  [templates]="templatesOfKind('infrastructure', true)"
  [multiple]="false"
  [options]="options">
  <div>
    <strong>No infrastructure selected.</strong><br/>
    Keep this if your project doesn't need to manage its infrastructure or if it is not supported.
    Otherwise, please select the used technology in the above list.
  </div>
</app-templates-section>

<app-templates-section
  id="hosting"
  sectionTitle="5. Deployment (hosting env.)"
  [aggregated]="aggregated"
  [templates]="templatesOfKind('hosting', true)"
  [multiple]="false"
  [options]="options">
  <div>
    <strong>No hosting environment selected.</strong><br/>
    Keep this if your project doesn't need to be deployed to any hosting environment or if it is not supported.
    Otherwise, please select your hosting environment in the above list.
  </div>
</app-templates-section>

<app-templates-section
  id="acceptance"
  sectionTitle="6. Acceptance tests"
  [aggregated]="aggregated"
  [templates]="templatesOfKind('acceptance')"
  [multiple]="true"
  [options]="options"></app-templates-section>

<app-templates-section
  id="others"
  sectionTitle="7. Others"
  [aggregated]="aggregated"
  [templates]="templatesNotOfKind(['build', 'analyse', 'package', 'infrastructure', 'hosting', 'acceptance'])"
  [multiple]="true"
  [options]="options"></app-templates-section>

<!-- GitLab CI file -->
<h2 id="gitlab-ci-section">#2: Get your GitLab CI file</h2>

<app-gitlab-ci [templates]="templates" [options]="options" [serverHost]="serverHost"></app-gitlab-ci>
