/* smooth scrolling (using stepbar for instance) */
html, body {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
  /* force no copyrighted font */
  font-family: Helvetica,Arial,sans-serif;
}

:root {
  /* force no copyrighted font */
  --font-family-sans-serif: Helvetica,Arial,sans-serif;
  --primary-color: #ea7070;
  --text-color: #ea7070;
}

/* use all available width up to 1320px */
.container {
  max-width: 1320px;
  padding-left: 1em;
  padding-right: 1em;
}

/* Markdown paragraph style */
markdown p {
  margin: 0;
  color: #595959;
  font-size: 0.9rem;
  font-style: italic;
}

/* button group toggle style */
.btn-group-toggle>.btn:not(:first-child) {
  border-left: 0;
}
.btn-group-toggle>.btn:not(:last-child) {
  border-right: 0;
}
.btn-group-toggle.rounded>.btn:first-child {
  border-radius: 1em 0 0 1em;
}
.btn-group-toggle.rounded>.btn:last-child {
  border-radius: 0 1em 1em 0;
}
.btn-group-toggle>.btn-secondary.active {
  background-color: #000 !important;
  border-color: #000 !important;
}
.btn-group-toggle>.btn-secondary:hover {
  color: #ea7070;
  background-color: #fff;
  border-color: #ccc;
}
.btn-group-toggle>.btn-secondary {
  background-color: #fff;
  border-color: #ccc;
}

/* smooth collapse/expand */
/*.collapse {*/
  /*transition-property: max-height;*/
  /*transition-timing-function: ease-in-out;*/
  /*transition-duration: .5s;*/
  /*max-height: 0;*/
  /*overflow: hidden;*/
/*}*/
/*.collapse.show {*/
  /*max-height: 1000px;*/
/*}*/
/*.collapse:not(.show) {*/
  /*display: inherit;*/
/*}*/

/*.collapse {*/
/*}*/
/*.collapse.show {*/
  /*animation: expand 0.8s ease-in-out;*/
/*}*/
/*.collapse:not(.show) {*/
/*}*/
/*@keyframes expand {*/
  /*0% {*/
    /*display: none;*/
  /*}*/
  /*1% {*/
    /*display: inherit;*/
    /*overflow: hidden;*/
    /*max-height: 0;*/
  /*}*/
  /*100% {*/
    /*transform: scaleY(1);*/
    /*max-height: 1000px;*/
  /*}*/
/*}*/

/* fix tooltip style */
.tooltip .tooltip-arrow {
  position: absolute;
  display: block;
  width: .625rem;
  height: .3125rem;
}

.tooltip .tooltip-arrow:before {
  position: absolute;
  content: "";
  border-color: transparent;
  border-style: solid;
}

.bs-tooltip-top,.bs-tooltip-auto[data-popper-placement^=top] {
  padding: .3125rem 0
}

.bs-tooltip-top .tooltip-arrow,.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow {
  bottom: 0
}

.bs-tooltip-top .tooltip-arrow:before,.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow:before {
  top: -1px;
  border-width: .3125rem .3125rem 0;
  border-top-color: #ddd
}

.bs-tooltip-end,.bs-tooltip-auto[data-popper-placement^=right] {
  padding: 0 .3125rem
}

.bs-tooltip-end .tooltip-arrow,.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow {
  left: 0;
  width: .3125rem;
  height: .625rem
}

.bs-tooltip-end .tooltip-arrow:before,.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow:before {
  right: -1px;
  border-width: .3125rem .3125rem .3125rem 0;
  border-right-color: #ddd
}

.bs-tooltip-bottom,.bs-tooltip-auto[data-popper-placement^=bottom] {
  padding: .3125rem 0
}

.bs-tooltip-bottom .tooltip-arrow,.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow {
  top: 0
}

.bs-tooltip-bottom .tooltip-arrow:before,.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow:before {
  bottom: -1px;
  border-width: 0 .3125rem .3125rem;
  border-bottom-color: #ddd
}

.bs-tooltip-start,.bs-tooltip-auto[data-popper-placement^=left] {
  padding: 0 .3125rem
}

.bs-tooltip-start .tooltip-arrow,.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow {
  right: 0;
  width: .3125rem;
  height: .625rem
}

.bs-tooltip-start .tooltip-arrow:before,.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow:before {
  left: -1px;
  border-width: .3125rem 0 .3125rem .3125rem;
  border-left-color: #ddd
}

.tooltip-inner {
  max-width: 12.5rem;
  padding: .625rem;
  color: #000;
  background-color: #ddd;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.6);
}
.hide {
  display: none !important;
}
.nav-link:hover {
  color: #ea7070 !important; 
}
.navbar-nav .nav-link.active {
  color: #ea7070 !important; 
}
.btn-toggle:hover {
  color: #ea7070 !important; 
}
.btn-toggle:active {
  color: #fff !important; 
  background-color: #ea7070 !important; 
  border-color: #ea7070 !important; 
}
.form-check-input:checked {
  background-color: #ea7070 !important; 
  border-color: #ea7070 !important;   
}
.form-check-input:active {
  background-color: #ea7070 !important; 
  border-color: #ea7070 !important;   
}
.title:hover {
  color: #ea7070 !important;   
}
.title {
  color: #fff !important;   
}
a:hover {
  color: #ea7070 !important;   
}
.btn-secondary:active {
  color: #fff !important; 
  background-color: #ea7070 !important; 
  border-color: #ea7070 !important; 
}
