<h3 [id]="id + '-section'" class="w-100 bg-supporting-green p-2 section">{{ sectionTitle }}</h3>

<div class="mb-4">
    <!-- [single template section] template selector (drop-down) -->
    <div *ngIf="!multiple" class="border-start border-5 border-dark w-100 bg-body-secondary p-2 position-relative">
        <div class="col-md-2 col-4">
            <select [id]="id + '-choice'" class="form-select mb-2" [(ngModel)]="selected" (change)="trackEvent(id + '-select', $event.target.value)">
                <option *ngFor="let template of templates" [value]="template.id" [selected]="template.enabled">{{ template.name }}</option>
            </select>
        </div>
        <div *ngFor="let template of templates">
            <div *ngIf="template.enabled">
                <!-- <img *ngIf="template.project?.avatar" class="template-icon" alt="template icon" [src]="template.project?.avatar"/> -->
                <div [innerHTML]="renderMarkdown(template.description)"></div>
                <a
                    *ngIf="template.project?.web_url"
                    class="readme"
                    rel="noopener noreferrer"
                    target="_blank"
                    [href]="template.project.web_url"
                    title="go to reference documentation"
                    ><span class="fas fa-external-link-square-alt"></span> ref. doc.</a
                >
                <span class="extension-badge" *ngIf="template.extension_id" [title]="aggregated.getExtension(template.extension_id).description">{{
                    aggregated.getExtension(template.extension_id).name
                }}</span>
                <!-- variants selection -->
                <div class="variants-group" *ngIf="variantsFor(template).length > 0">
                    <label class="variants-label">Variants:</label>
                    <div *ngFor="let variant of variantsFor(template)" class="variant-container ms-3">
                        <!-- variant checkbox -->
                        <div class="form-check form-switch mb-2">
                            <input
                                type="checkbox"
                                class="form-check-input variant-input"
                                [id]="template.id + '-variant-' + variant.id"
                                [(ngModel)]="variant.enabled"
                                (change)="trackEvent(template.id + '-' + variant.id + '-variant', $event.target.checked)"
                            />
                            <label class="form-check-label variant-label" [for]="template.id + '-variant-' + variant.id">{{ variant.name }}</label>
                        </div>
                        <markdown [data]="variant.description"></markdown>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngFor="let template of templates">
        <!-- [multiple templates section] selection checkbox -->
        <div
            *ngIf="multiple"
            class="border-start border-5 border-dark w-100 bg-body-secondary p-2 position-relative mb-3"
            [class.extension]="template.extension_id"
        >
            <div>
                <div class="form-check form-switch mb-2">
                    <input
                        type="checkbox"
                        class="form-check-input"
                        [id]="template.id + '-toggle'"
                        [(ngModel)]="template.enabled"
                        (change)="trackEvent(template.id + '-template', $event.target.checked)"
                    />
                    <label class="form-check-label" [for]="template.id + '-toggle'">{{ template.name }}</label>
                </div>
                <!-- <img *ngIf="template.project?.avatar" class="template-icon" alt="template icon" [src]="template.project?.avatar"/> -->
                <markdown [data]="template.description"></markdown>
            </div>
            <a
                *ngIf="template.project?.web_url"
                class="readme"
                rel="noopener noreferrer"
                target="_blank"
                [href]="template.project.web_url"
                title="go to reference documentation"
                ><span class="fas fa-external-link-square-alt"></span> ref. doc.</a
            >
            <span class="extension-badge" *ngIf="template.extension_id" [title]="aggregated.getExtension(template.extension_id).description">{{
                aggregated.getExtension(template.extension_id).name
            }}</span>
            <!-- variants selection -->
            <div class="variants-group" *ngIf="variantsFor(template).length > 0" [class.hide]="!template.enabled">
                <label class="variants-label">Variants:</label>
                <div *ngFor="let variant of variantsFor(template)" class="variant-container ms-3">
                    <!-- variant checkbox -->
                    <div class="form-check">
                        <input
                            type="checkbox"
                            class="form-check-input variant-input"
                            [id]="template.id + '-variant-' + variant.id"
                            [(ngModel)]="variant.enabled"
                            (change)="trackEvent(template.id + '-' + variant.id + '-variant', $event.target.checked)"
                        />
                        <label class="form-check-label variant-label" [for]="template.id + '-variant-' + variant.id">{{ variant.name }}</label>
                    </div>
                    <markdown [data]="variant.description"></markdown>
                </div>
            </div>
        </div>

        <!-- template form -->
        <div [id]="template.id" class="template collapse" [class.show]="template.enabled">
            <!-- template global variables -->
            <app-variable-editor
                *ngFor="let variable of template.nonSecrets"
                [id]="template.id + '-' + variable.name"
                [aggregated]="aggregated"
                [options]="options"
                [class.hide]="variable.advanced && !options.showAdvanced"
                [variable]="variable"
            ></app-variable-editor>

            <!-- template features -->
            <div *ngFor="let feature of template.features" class="feature">
                <!-- feature toggle -->
                <div class="w-100 bg-body-secondary p-2 mb-3">
                    <div class="form-check form-switch mb-2">
                        <input
                            type="checkbox"
                            class="form-check-input"
                            [id]="template.id + '-' + feature.id + '-toggle'"
                            [(ngModel)]="feature.enabled"
                            (change)="trackEvent(template.id + '-' + feature.id + '-feature', $event.target.checked)"
                        />
                        <label class="form-check-label" [for]="template.id + '-' + feature.id + '-toggle'">{{ feature.name }}</label>
                    </div>
                    <markdown [data]="feature.description"></markdown>
                </div>

                <!-- feature form -->
                <div [id]="template.id + '-' + feature.id" class="variables collapse" [class.show]="feature.enabled">
                    <!-- feature variables -->
                    <app-variable-editor
                        *ngFor="let variable of feature.nonSecrets"
                        [id]="template.id + '-' + variable.name"
                        [aggregated]="aggregated"
                        [options]="options"
                        [class.hide]="variable.advanced && !options.showAdvanced"
                        [variable]="variable"
                    ></app-variable-editor>
                </div>
            </div>
        </div>
    </div>
</div>
