.template-icon {
  max-width: 2rem;
  vertical-align: middle;
  margin-right: .2rem;
  background-color: white;
}
.feature .alert {
  background-color: #eeeeee;
  border-color: #eeeeee;
}
/* readme link */
.readme {
  font-size: 0.9rem;
  position: absolute;
  right: 10px;
  top: 10px;
  text-decoration: none; 
}
.readme:hover {
  text-decoration: underline;
}
/* extension badge */
.extension-badge {
  font-size: 0.9rem;
  font-weight: bold;
  /*position: absolute;*/
  right: 10px;
  top: 10px;
  background-color: #A885D8;
  padding: .1rem .2rem;
}
/* variant styles */
.variants-group {
  margin-top: .8rem;
  border-top: 2px solid #a5a5a5;
  padding-top: .8rem;
  font-size: .9rem;
  color: #595959;
  display: flex;
}
 
